{% extends 'base.html' %}
{% block title %}Form - HelloFlask{% endblock %}
{% block content %}
<h1>Pure HTML Form</h1>
<form method="post">
    <label for="username">Username</label><br>
    <input type="text" name="username" placeholder="Tommy"><br>
    <label for="password">Password</label><br>
    <input type="text" name="password" placeholder="123456"><br>
    <input id="remember" name="remember" type="checkbox" checked>
    <label for="remember"><small>Remember me</small></label><br>
    <input type="submit" name="submit" value="Log in">
</form>
{% endblock %}